@model ObligatorioP3MVC.ViewModels.CrearEventoViewModel

@{
    ViewBag.Title = "Cargar Servicios A Evento";
}

<h2>CargarServiciosAEvento</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (Model.TipoServicios != null)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.TipoServicios, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdTipoServicio, Model.TipoServicios)
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar Proveedores" class="btn btn-default" />
            </div>
        </div>
        <br />
        <hr />
    }


}
@using (Html.BeginForm())
{

    if (Model.IdTipoServicio != null)     //CAMBIAR ESTA CONDICION ////////////////////////////////////
    {
        <br />
        <table class="table table-hover">
            <tr>
                <th>Rut Proveedor</th>
                <th>Nombre Fantasia</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Vip</th>
                <th>Calificacion</th>
            </tr>

            @foreach (var item in Model.Proveedores)
            {
                string selectedRow = "";
                if (item.Rut == ViewBag.Rut)
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.Rut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomFantasia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CalificacionGeneral)
                    </td>
                    <td>
                        @Html.ActionLink("Seleccionar", "CargarServiciosAEvento", new { rut = item.Rut })
                    </td>
                </tr>
            }

        </table>
    }




    @*if (Model.IdTipoServicio != null)     //CAMBIAR ESTA CONDICION ////////////////////////////////////
        {
            <br/>
            <table class="table table-hover">
                <tr>
                    <th>Rut Proveedor</th>
                    <th>Nombre Servicio</th>
                    <th>Descripcion</th>
                </tr>

                @foreach (var item in Model.ServiciosProveedores)
                {
                    string selectedRow = "";
                    if (item.NombreServicio == ViewBag.NombreServicio)
                    {
                        selectedRow = "success";
                    }
                <tr class="@selectedRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.Rut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreServicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Seleccionar", "CargarServiciosAEvento", new { rut = item.Rut, nombreServicio = item.NombreServicio })
                    </td>
                </tr>
                }

        </table>
            }*@
}


<div>
    @Html.ActionLink("Volver al menú principal", "Index", "Home")
</div>