@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h2>Gestión de Eventos</h2>
</div>

@if (Session["TipoDeUsuario"] != null && Session["TipoDeUsuario"].ToString() == "Administrador")
{


    <div class="row">
    
        <div class="col-md-4">
            <h2>Alta Organizador</h2>
            <p>
                Crear y guardar un Organizador en el sistema.
            </p>
            @Html.ActionLink("Crear Organizador", "Crear", "Organizador", new { },new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
            <h2>Listado de Organizadores</h2>
            <p>
                Listado de Organizadores registrados en el sistema.
            </p>
            @Html.ActionLink("Listar Organizadores", "Listar", "Organizador", new { }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
            <h2>Proveedores Mejor Calificados</h2>
            <p>
                Proveedores con la calificacion mas alta.
            </p>
            @Html.ActionLink("Listar", "ListadoMejorCalificados", "Evento", new { }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
            <h2>Proveedores Mas Seleccionados</h2>
            <p>
                Proveedores mas seleccionados.
            </p>
            @Html.ActionLink("Listar", "ListadoMasElegidos", "Evento", new { }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
            <h2>Listar Eventos por Organizador</h2>
            <p>
                Listado de Eventos de un Organizador.
            </p>
            @Html.ActionLink("Listar Eventos", "ListarEventosDeOrganizador", "Evento", new { }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
            <h2>Eventos entre fechas</h2>
            <p>
                Listado de Eventos entre fechas.
            </p>
            @Html.ActionLink("Listar Eventos", "EventosEntreFechas", "Evento", new { }, new { @class = "btn btn-default" })
        </div>
    </div>
}


@if (Session["TipoDeUsuario"] != null && Session["TipoDeUsuario"].ToString() == "Organizador")
{


    <div class="row">

        <div class="col-md-4">
            <h2>Alta Organizador</h2>
            <p>
                Crear y guardar un Organizador en el sistema.
            </p>
            @Html.ActionLink("Crear Organizador", "Crear", "Organizador", new { }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
            <h2>Editar Organizador</h2>
            <p>
                Editar telefono de un Organizador registrado en el sistema.
            </p>
            @Html.ActionLink("Editar", "Editar", "Organizador", new { }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
            <h2>Calificar Proveedor</h2>
            <p>
                Calificar un Proveedor de un Evento.
            </p>
            @Html.ActionLink("Calificar", "CalificarProveedor", "Evento", new { }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
            <h2>Proveedores Mejor Calificados</h2>
            <p>
                Proveedores con la calificacion mas alta.
            </p>
            @Html.ActionLink("Listar", "ListadoMejorCalificados", "Evento", new { }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
            <h2>Proveedores Mas Seleccionados</h2>
            <p>
                Proveedores mas seleccionados.
            </p>
            @Html.ActionLink("Listar", "ListadoMasElegidos", "Evento", new { }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
            <h2>Listar Eventos por Organizador</h2>
            <p>
                Listado de Eventos de un Organizador.
            </p>
            @Html.ActionLink("Listar Eventos", "ListarEventosDeOrganizador", "Evento", new { }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4">
            <h2>Crear un Evento</h2>
            <p>
                Registrar un Evento en el Sistema.
            </p>
            @Html.ActionLink("Crear Evento", "CrearEvento", "Evento", new { }, new { @class = "btn btn-default" })
        </div>
    </div>
}